<div class="center container-fluid most-protein">
	<div class="col-md-4 col-md-offset-2 center">
	<h3>Best Protein/100 kcal Ratio:</h3>
	<center>
	<table>
		<% most_protein.top_protein_cal(3).each do |f| %>
		<tr>
	        <td class="left-text"><%= f.company_name %> <%= f.food_name.titleize %></td>
	        <td><span class="highlight-text"><%= fix_precision(f.p_100_ratio) %> g</span></td>
	        <% end %>
	</table>
	</center>
	</div>
	<div class="col-md-4 center">
	<h3>Most Protein:</h3>
		<center>
	<table>
		<% most_protein.top_protein(3).each do |f| %>
		<tr>
	        <td class="left-text"><%= f.company_name %> <%= f.food_name.titleize %></td>
	        <td><span class="highlight-text"><%= fix_precision(f.protein) %> g</span></td>
	    </tr>
	        <% end %>
	    </table>
	    </center>
	    </div>

</div>
