  <div class="container-fluid search-criteria">	

	<form action="/search" method="get">
	  <div class="col-md-4">
	  <div class="row"><h4><%= label_tag(:company_name, "Restaraunts:") %></h4></div>
	  <%= collection_select(:company_list, :list, Food.distinct_company_names, :company_name, :company_name, {:selected => @company_filter_list}, :multiple=>true, :class=>"search-form-select-list") %>
  	  </div>
	  	  <div class="search-text-bars col-md-4">
	  	  <%= text_field_tag :food_name, nil, placeholder: "Food Name", class: "search-form-text-field" %>
	  	  <%= text_field_tag :protein, nil, placeholder: "Minimum Protein (g)", class: "search-form-text-field" %>
	  	  </div>
	  <div class="col-md-4">
	  <div class="row"><h4><%= label_tag(:extra_columns, "Show More Data:") %></h4></div>
			<%= select_tag(:extra_columns, options_for_select(@extra_columns_list, @extra_columns_selected), :multiple=>true, :class=>"search-form-select-list") %>
	</div>
	<div class="col-md-12"> 
	  <%= submit_tag("Search", :name => nil, :class=>"btn btn-search") %>
	  </div>
   </div>
   </form>
	