<h3><strong>Nutrition Data Results:</strong></h3>
		<div class="table-responsive">
		  <table id="allfoods" class="tablesorter table-striped">
		    <thead> <!-- tablesorter table-striped -->
		    	<tr>
		    		<th>Company Name</th>
		    		<th>Food Name</th>
		    		<th>Calories</th>
		    		<th>Protein/100 kcal</th>
		    		<% if @show_pf %>
		    			<th>Protein/Fat</th>
		    		<% end %>
		    		<% if @show_pc %>
		    			<th>Protein/Carbs</th>
		    		<% end %>
		    		<% if @show_cf %>
		    			<th>Carbs/Fat</th>
		    		<% end %>
		    		<th>Protein</th>
		    		<th>Fats</th>
		    		<th>Carbs</th>
		    		<% extra_columns_selected.each do |x|%>
		    		<th><%= normalize_column_name(x) %></th>
		    		<% end %>
		    	</tr>
		    </thead>
		    <tbody>
		    	 <% grid_food.sort_by{|a| a["protein"]}.reverse.each do |data| %>
		      <tr>
		      	<td class="left-text-only"><%= data.company_name %></b></td>
		      	<td class="left-text-only"><%= data.food_name.titleize %><%if ['Panera Bread', 'Chipotle'].include? data.company_name and !data.serving_size.blank?%> (<%= data.serving_size %>)<%end%></td>
		      	<td><%= fix_precision(data.calories) %></td>
		      	<td><%= data.p_100_ratio %></td>
		      	<% if @show_pf %>
		    		<td><%= data.p_f_ratio %></td>
		    	<% end %>
		    	<% if @show_pc %>
		    		<td><%= data.p_c_ratio %></td>
		    	<% end %>
		    	<% if @show_cf %>
		    		<td><%= data.c_f_ratio %></td>
		    	<% end %>
		      	<td><%= fix_precision(data.protein) %></td>
		      	<td><%= fix_precision(data.fat) %></td>
		      	<td><%= fix_precision(data.carbs) %></td>
			      	<% extra_columns_selected.each do |q| %>
			    		<td><%= fix_precision(data[q]) %></td>
			    	<% end %>
		      </tr>
		    <% end %>
		    </tbody>
		  </table>
		</div>
		
<script>
	$(document).ready( function () {
    $('#allfoods').DataTable( {
    	"pageLength": 10,
    	"order": [[ <%=@sort_by%>, "desc" ]]
    	}	
    );
} );
</script>
