  <div class="container-fluid search-criteria">	

	<form action="<% if rest_list %>/search<% end %>" method="get">
	<% if rest_list %>
		  <div class="col-md-4">
		  <div class="row"><h4><%= label_tag(:company_name, "Restaraunts:") %></h4></div>
		  <%= collection_select(:company_list, :list, Food.distinct_company_names, :company_name, :company_name, {:selected => @company_filter_list}, :multiple=>true, :size=>8,:class=>"search-form-select-list") %>
	  	  </div>
  	  <% end %>
	  	  <div class="col-md-4 <% if !rest_list %> col-md-offset-2<% end %>">
	  	  <div class="row"><h4><%= label_tag(:company_name, "Filters:") %></h4></div>
	  	  <div class="row"><%= text_field_tag :food_name, nil, placeholder: "Food Name", class: "search-form-text-field" %></div>
	  	  <div class="row"><%= text_field_tag :protein, nil, placeholder: "Minimum Protein (g)", class: "search-form-text-field" %></div>
	  	  <div class="row"><%= text_field_tag :cals, nil, placeholder: "Maximum Calories", class: "search-form-text-field" %></div>
	  	  <div class="row"><%= check_box_tag 'breakfast', 1, @show_breakfast%><span class="checkbox-text">Show Breakfast</span></div>
	  	  
	  </div>
	  <div class="col-md-4">
	  	<div class="row"><h4><%= label_tag(:extra_columns, "Show More Data:") %></h4></div>
		<div class="row"><%= select_tag(:extra_columns, options_for_select(@extra_columns_list, @extra_columns_selected), :size=>6, :multiple=>true, :class=>"search-form-select-list") %></div>
		   <div class="row"><%= check_box_tag 'ptoc', 1, @show_pc%><span class="checkbox-text">Show Protein/Carb</span></div>
		    <div class="row"><%= check_box_tag 'ptof', 1, @show_pf%><span class="checkbox-text">Show Protein/Fat</span></div>
	  </div>

	<div class="col-md-12"> 
	  <%= submit_tag("Compare", :name => nil, :class=>"btn btn-search") %>
	  </div>
   </div>
   </form>

	