<% provide(:title, 'Protein and Nutrition Blog') %>
<% provide(:metadesc, 'We look at the fast food data collected and make observations about nutritional value and protein content.') %>

<h1 class="center">Fast Food Protein & Nutrition Blog</h1>
<div class="container-fluid">
	<div class="col-sm-8 col-sm-offset-1">
	<% @articles.each do |article| %>
		<div class="container-fluid">
			<h2> <%= link_to article.title, blog_article_path(article) %> </h2>
			<%= render partial: "meta", locals: {article: article} %>
			<div class="excerpt">	
				<%= markdown(article.excerpt) %>
			</div>
			<% if article.has_more_text? %>
			    <p> <%= link_to "Continue reading →", blog_article_path(article) %></p>
			<% end %>
		</div>
	<% end %>
	
	</div>
	
	<div class="col-sm-3 pull-right" style="text-align:right">
		<div class="center">
			<h3>Find Posts by Tags</h3>
			<% @all_tags.each do |tags| %>
				<div class="blog-tag"><a href="http://www.fastfoodprotein.com/blog?tags=<%= tags %>"><%= tags.titleize %></a></div>
			<%end%>
		</div>
		<div>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- side-blog -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:100px;height:250px"
		     data-ad-client="ca-pub-4200540000959453"
		     data-ad-slot="9373287496"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		</div>
				<div class="row col-sm-offset-1"><a class="twitter-timeline" href="https://twitter.com/FastFoodProtein" data-widget-id="508805102061092864">Tweets by @FastFoodProtein</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>

	</div>
	</div>

