<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <% if @home_page%>
  	<meta name="description" content="Compare fast food restaurant nutritional information in a new fast and simple way. Find meals high in protein that fit your diet.">
  <% end %>
  <meta name="keywords" content="nutrition, protein, fast food, restaurants">
  <meta name="msvalidate.01" content="108242BCAF385BDA9FEC575ADF16FA64" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,600,900,300italic,600italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,900,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
  <!-- google analytics script -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54164722-1', 'auto');
  ga('send', 'pageview');
</script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=686297404791709&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<%= render 'shared/navbar' %>
<div class="center">  
 <%= link_to image_tag("amazon-banner-whey.png", class: "top-banner"), "http://www.amazon.com/gp/product/B000QSNYGI/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000QSNYGI&linkCode=as2&tag=ffp-tb-20&linkId=4JSNPIFSVLSWHUO5", target: "_blank" %>
</div>

<div class="container-fluid col-md-10 col-md-offset-1 main-box">
	<%= yield %>
	
	<div class="row"><center><span class="fb-share-button fb-share-shim" data-href="http://www.fastfoodprotein.com/"></span></center></div>
</div>
<%= render 'shared/tip_footer' %>
</body>
</html>